<div class="container mt-5 mb-5">
  <div class="card">
    <div class="row text-center">
      <div class="col m-5">
        <div class="row">
          <h3><%= @user.email %></h3>
        </div>
        <div class="row mt-5">
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark' %>
        </div>
      </div>
    </div>
  </div>
</div>
