<!-- Remove the container if you want to extend the Footer to full width. -->

<footer style="background-color: #deded5;">
  <div class="container p-4">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-12 mb-4 ">
        <h5 class="mb-3 text-center" style="letter-spacing: 2px; color: #818963;">Help and Support</h5>
        <ul class="list-unstyled mb-6 text-center">
          <li>
            <a href="#!" class="text-dark text-center">Customer Service</a>
          </li>
          <li>
            <a href="#!" class="text-dark text-center">FAQs</a>
          </li>
          <li>
            <a href="#!" class="text-dark text-center">Returns and Exchanges</a>
          </li>
          <li>
            <a href="#!" class="text-dark text-center">Shipping and Tracking</a>
          </li>
          <li>
            <a href="#!" class="text-dark text-center">Size Chart</a>
          </li>
          <li>
            <a href="#!" class="text-dark text-center">Store Locator</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-12 mb-4 ">
        <h5 class="mb-3 text-center" style="letter-spacing: 2px; color: #818963;">Shop</h5>
        <ul class="list-unstyled text-center">
          <li>
            <a href="#!" class="text-dark">New Arrivals</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Men</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Women</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Kids</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Best Sellers</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Gift Guide</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12 mb-4 ">
        <h5 class="mb-1 text-center" style="letter-spacing: 2px; color: #818963;">About Us</h5>
        <ul class="list-unstyled text-center">
          <li>
            <a href="#!" class="text-dark">Who We Are</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Sustainability and Inclusivity</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Blog</a>
          </li>
        </ul>

        <div class="container">
          <div class="row">
            <div class="col">
              <img class="img" src="/products/assets/images/social_icons/1.png">
            </div>
            <div class="col">
              <img class="img" src="/products/assets/images/social_icons/2.png">
            </div>
            <div class="col">
              <img class="img" src="/products/assets/images/social_icons/3.png">
            </div>
            <div class="col">
              <img class="img" src="/products/assets/images/social_icons/4.png">
            </div>
            <div class="col">
              <img class="img" src="/products/assets/images/social_icons/5.png">
            </div>
            <div class="col">
              <img class="img" src="/products/assets/images/social_icons/6.png">
            </div>
          </div>
        </div>







      </div>
    </div>
    <div class="row align-items-center">
        <div class="text-center p-3 border-top border-white">
          <p class="text-dark">(012) 123-4567</p>
          <p class="text-dark">1337 Someplace Street</p>
          <p class="text-dark">A4, London WC2N 5DU, UK</p>
        </div>
      </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="/">Golden Shoe</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- End of .container -->
