<nav class="navbar navbar-expand-lg navbar-light bg-light h7">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="/">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Exchanges & Returns</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Track My Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Sizing Guide</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Contact</a>
      </li>
    </ul>
  </div>
</nav>
