<!-- Modal -->
<div class="modal fade text-center" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <img src="products/assets/images/index_page/email_popup/popup.jpg" class="img-fluid" alt="Newsletter image">
      <div class="modal-header">
        <h3 class="modal-title text-uppercase" id="NewsletterTitle">Join the Golden Shoe Club and get 20% off Your Next Order</h3>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row align-items-start">
            <div>
              <h4 class="text-uppercase">Be the first to hear about exclusive drops, sales and discounts. </h4>
            </div>
          </div>
          <br/>
          <div class="row align-items-center">
          <div class="col-sm">
            <form>
              <div class="form-group form-group-lg">
                <input type="email" class="form-control text-center form-control-lg" id="InputEmail" aria-describedby="emailHelp"  placeholder="Enter email">
              </div>
              <br/>
        <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Submit</button>
            </form>
          </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(function () {
    console.log($.cookie('pop'));
    if (!$.cookie('pop')) {
      $('#myModal').modal('show');
      $.cookie('pop', '1');
    }
  })
</script>
