<div class="container">
  <div class="row-md-4">
    <div class="product-item">
      <div class="pi-img-wrapper">
        <% if product.avatar.attached? %>
          <%=link_to image_tag(product.avatar, :size => 300), product_path(product.id), :class => 'dock-item'%>
        <%end%>
      </div>
      <h4 class="mb-1" style="letter-spacing: 2px;"><%=product.title%></h4>
      <h5 class="mb-1" style="letter-spacing: 2px;">£<%=product.price%></h5>
    </div>
  </div>
</div>
<br/>
<br/>
