  <div class="container-fluid">
    <div class="row pt-5 pb-2 text-center">
      <h3> NEW ARRIVALS </h3>
    </div>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-3">
          <%= render 'product_card', product: product%>
        </div>
      <% end %>
    </div>
  </div>
